@model Mage
@{
    ViewBag.Title = GlobalRes.SelectedMage + ": " + Model.Name;
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            @* Navigation header *@
            <div class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav">
                            <li>
                                @Html.ActionLink(GlobalRes.BackToMages, "Index", null,
                                    new { @class = "btn btn-link" })
                            </li>
                            <li class="active">
                                @Html.ActionLink(GlobalRes.SelectedMage, "Mage", new { id = Model.Id },
                                    new { @class = "btn btn-link" })
                            </li>
                            <li>
                                @Html.ActionLink(GlobalRes.AddMage, "AddMage", null,
                                    new { @class = "btn btn-link" })
                            </li>
                            <li>
                                @Html.ActionLink(GlobalRes.EditMage, "EditMage", new { id = Model.Id },
                                    new { @class = "btn btn-link" })
                            </li>
                            <li>
                                @Html.ActionLink(GlobalRes.DeleteMage, "DeleteMage", new { id = Model.Id },
                                    new { @class = "btn btn-link" })
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-6">
            <h1 class="text-center">@GlobalRes.SelectedCard: @Model.Name</h1>
            <br />
            <div class="form-container">
                <div class="form-group">
                    @Html.LabelFor(x => x.Id)
                    <span>@Model.Id</span>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.HealPoints)
                    <span>@Model.HealPoints</span>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.ManaPoints)
                    <span>@Model.ManaPoints</span>
                </div>

                <div class="form-group">
                    @Html.LabelFor(x => x.PrimarySchoolId)
                    <span>@Model.PrimarySchoolId</span>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.PrimarySchoolLevel)
                    <span>@Model.PrimarySchoolLevel</span>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.SecondarySchoolId)
                    <span>@Model.SecondarySchoolId</span>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.SecondarySchoolLevel)
                    <span>@Model.SecondarySchoolLevel</span>
                </div>

                <div class="form-group">
                    @Html.LabelFor(x => x.DescriptionFileName)
                    <span>@Model.DescriptionFileName</span>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.HeroFileName)
                    <span>@Model.HeroFileName</span>
                </div>

                <div class="form-group">
                    <label for="mageImagePreview">@GlobalRes.MageImage</label>
                    <img src="/Content/Mages/@Model.HeroFileName.@Model.HeroFileType"
                         id="mageImagePreview" class="image-preview" alt="preview" />
                </div>
                <div class="form-group">
                    <label for="imagePreview">@GlobalRes.MageDescriptionImage</label>
                    <img src="/Content/Mages/@Model.DescriptionFileName.@Model.DescriptionFileType"
                         id="imagePreview" class="image-preview" alt="preview" />
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
            setTimeout(function() {
                $('.alert').css('display', "none");
            }, 1500);
        });

    </script>
}